#stats {
    display: block;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    width: 100vw;
    height: 100vw;
  }

.input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }